<header>
  <nav id="nav-bar" class="navbar navbar-expand-md navbar-custom">
    <a class="navbar-brand" href="/stories">Story Creator</a>
      <% if ((locals.loginInfo) && (loginInfo.loggedInUser)) { %>
        <span id="loggedInUserId" name="loggedInUserId" hidden><%= loginInfo.loggedInUser.id %></span>
      <% } else { %>
        <span id="loggedInUserId" name="loggedInUserId" hidden></span>
      <% } %>
      <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <% if ((locals.loginInfo) && (loginInfo.loggedInUser)) { %>
          <a id="my_story_link" class="nav-item nav-link"  href="/stories/myStories">My Stories</a>
        <% } %>
        <!-- <a class="nav-item nav-link" href="/stories">My Contributions</a> -->
        <% if ((locals.loginInfo) && (loginInfo.loggedInUser)) { %>
        <a class="nav-item nav-link" href="/story/new">Create Story</a>
        <% } %>
        <a class="nav-item nav-link" href="/stories">Search</a>   
        <% if ((locals.loginInfo) && (loginInfo.loggedInUser ) && (loginInfo.loggedInUser.id)) { %>
          <a class="nav-item nav-link" href="/users/<%= loginInfo.loggedInUser.id %>">User info</a>   
        <% } else { %>
            <a class="nav-item nav-link" href="/users/new">Register</a>
        <% } %>
        <div style="position:absolute; right:175px">
        <% if ((!locals.loginInfo) || (!loginInfo.loggedInUser) || (!loginInfo.loggedInUser.id)) { %>
          <a class="nav-item nav-link" href="/login">Login</a>
        <% } %>
        </div>
        <div style="position:absolute; right:75px">
          <% if ((locals.loginInfo) && (loginInfo.loggedInUser) && (loginInfo.loggedInUser.id)) { %>
            <form action="/login/logout" method="POST">
              <h5>Logged in as: <%= loginInfo.loggedInUser.username %>
                <button type="submit" class="btn btn-primary">Logout</button>
              </h5>
            </form>
          <% } %>
        </div>
      </div>
    </div>
  </nav>
  <section class="errorBar" display="<%= locals.message ? 'flex' : 'none' %>">
    <span><%= locals.message ? message : '' %></span>
  </section>
</header>
