<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <%- include('partials/_userStyleSheet') %>

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/users.js"></script>
    
    <title>User Details</title>
  </head>
  <body>
    <%- include('partials/_header') %>
    <main>
      <h1>User Details</h1>
      <Form class="form-inline" action="/users" method="POST">
        <div>
          <input hidden class="form-control" type="text" name="id" autocomplete="off" value="<%= (locals.user && user.id) ? user.id : undefined %>"></input>
          <label>Username:</label>
          <input class="form-control" type="text" placeholder="Username" name="username" autocomplete="off" value="<%= (locals.user && user.username) ? user.username : '' %>"></input>
          <label>First Name:</label>
          <input class="form-control" type="text" placeholder="First Name" name="first_name" autocomplete="off" value="<%= (locals.user && user.first_name) ? user.first_name : '' %>"></input>
          <label>Last Name:</label>
          <input class="form-control" type="text" placeholder="Last Name" name="last_name" autocomplete="off" value="<%= (locals.user && user.last_name) ? user.last_name : '' %>"></input>
          <label>Email:</label>
          <input class="form-control" type="text" placeholder="email" name="email" autocomplete="off" value="<%= (locals.user && user.email) ? user.email : '' %>"></input>
          <label>Password:</label>
          <input class="form-control" type="text" placeholder="password" name="password" autocomplete="off" value="<%= (user && user.password) ? user.password : '' %>"></input>
          <% if (loginInfo.styleSheets) { %>
            <div class = "userRadio">
              <label> Default</label>
              <input type="radio"  name="userStyleSelection" id="defaultStyle" <%= loginInfo.styleSheets.colour === 'colour-default.css'  ? 'checked' : '' %> value="colour-default.css" />
              <label> Light</label>
              <input type="radio"  name="userStyleSelection" id="lightStyle" <%= loginInfo.styleSheets.colour === 'colour-light.css'  ? 'checked' : '' %> value="colour-light.css" />
              <label> Dark</label>
              <input type="radio"  name="userStyleSelection" id="darkStyle" <%= loginInfo.styleSheets.colour === 'colour-dark.css'  ? 'checked' : '' %> value="colour-dark.css"/>                     
              <label> whatev</label>
              <input type="radio"  name="userStyleSelection" id="whatevStyle" <%= loginInfo.styleSheets.colour === 'colour-whatev.css'  ? 'checked' : '' %> value="colour-whatev.css"/>                     
          </div>
          <% } %>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </Form>
    </main>
    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>